#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 > #backgroundBox {
  background-color: #2C2828;
  position: absolute;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_1 {
  position: absolute;
  width: 84.99999999999977px;
  height: 44.973544973544904px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 {
  position: absolute;
  width: 372.99999999999966px;
  min-height: 722.6197183098592px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 > .borderLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_3 {
  position: absolute;
  width: 155.8135840914133px;
  height: 33.57354497354493px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_3 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 {
  position: absolute;
  width: 264.0px;
  height: 37.794392523364536px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 {
  position: absolute;
  width: 120.0px;
  height: 37.794392523364536px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 {
  position: absolute;
  width: 120.0px;
  height: 37.794392523364536px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 .valign {
  vertical-align: middle;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 {
  position: absolute;
  width: 260.5px;
  height: 37.60000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 > .borderLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Category_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 textarea::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 textarea:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 {
  position: absolute;
  width: 264.0px;
  height: 71.79439252336454px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 textarea::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 textarea::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 textarea:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 textarea:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 {
  position: absolute;
  width: 264.0px;
  height: 71.79439252336454px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 textarea {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 {
  position: absolute;
  width: 264.0px;
  height: 37.794392523364536px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 .valign {
  vertical-align: middle;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_35 {
  position: absolute;
  width: 12.0px;
  height: 12.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_35 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 {
  position: absolute;
  width: 170.0px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Eras Bold ITC',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #10A2EF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #10A2EF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #10A2EF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #10A2EF;
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 span {
  color: #10A2EF;
  text-align: center;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 {
  position: absolute;
  width: 264.0px;
  height: 37.794392523364536px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 .valign {
  vertical-align: middle;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #F2F2F2;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 > .borderLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Input_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_2 {
  position: absolute;
  width: 27.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_5 {
  width: 363.9999999999999px;
  height: 776.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_5 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_5 .verticalalign {
  vertical-align: top;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 {
  width: 338.9999999999999px;
  height: 776.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 > .backgroundLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #2C2828;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 > .borderLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 > .backgroundLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_41 {
  position: absolute;
  width: 239.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_41 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #shapewrapper-s-Line_1 marker {
  fill: #FFFFFF;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 276.00553811698467px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Line_1 {
  width: 276.00553811698467px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #FFFFFF;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Line_1 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_42 {
  position: absolute;
  width: 91.99999999999989px;
  height: 91.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_42 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_43 {
  position: absolute;
  width: 220.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_43 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_44 {
  position: absolute;
  width: 211.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_44 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_47 {
  position: absolute;
  width: 151.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_47 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_48 {
  position: absolute;
  width: 170.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_48 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #shapewrapper-s-Line_2 marker {
  fill: #FFFFFF;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 276.00553811698467px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Line_2 {
  width: 276.00553811698467px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #FFFFFF;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Line_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_49 {
  position: absolute;
  width: 127.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_49 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_50 {
  position: absolute;
  width: 193.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_50 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_51 {
  position: absolute;
  width: 140.09433962264146px;
  height: 44.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_51 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_46 {
  position: absolute;
  width: 164.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_46 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_4 {
  position: absolute;
  width: 266.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_4 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 {
  position: absolute;
  width: 36.99999999999977px;
  min-height: 776.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.75);
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 {
  position: absolute;
  width: 372.9999999999998px;
  min-height: 85.61971830985931px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 30px 30px 0px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #2C2828;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 > .borderLayer {
  border-radius: 30px 30px 0px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 30px 30px 0px 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_20 {
  position: absolute;
  width: 27.0px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_20 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_21 {
  position: absolute;
  width: 42.46245530393341px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_21 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_22 {
  position: absolute;
  width: 42.46245530393341px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_22 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_23 {
  position: absolute;
  width: 42.46245530393341px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_23 {
  box-shadow: none;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_24 {
  position: absolute;
  width: 27.747318235995863px;
  height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-16d28e70-63e4-4bbd-8af1-d093c53d4831 #s-Image_24 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-16d28e70-63e4-4bbd-8af1-d093c53d4831 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
