#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b > #backgroundBox {
  background-color: #2C2828;
  position: absolute;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_1 {
  position: absolute;
  width: 84.99999999999977px;
  height: 44.973544973544904px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_1 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 {
  position: absolute;
  width: 372.9999999999998px;
  min-height: 650.6197183098592px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 > .borderLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_1 marker {
  fill: #404040;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_1 {
  position: absolute;
  width: 375.00085333236234px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.15278838320384983deg);
  -moz-transform: rotate(0.15278838320384983deg);
  transform: rotate(0.15278838320384983deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_1 {
  width: 375.00085333236234px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_1 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 span {
  color: #2C2828;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #2C2828;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 {
  position: absolute;
  width: 372.9999999999998px;
  min-height: 444.6197183098592px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-1.0px -4.0px 2.5px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 {
  box-shadow: -1.0px -4.0px 5px 0px #EFEFEF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 > .borderLayer {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EFEFEF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EFEFEF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EFEFEF;
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 span {
  color: #2C2828;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #2C2828;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 span {
  color: #2C2828;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #2C2828;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 span {
  color: #2C2828;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #2C2828;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 {
  position: absolute;
  width: 128.00000000000003px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(7.0px 7.0px 2.5px #EFEFEF);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Eras Bold ITC',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 {
  box-shadow: 7.0px 7.0px 5px 0px #EFEFEF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #10A2EF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #10A2EF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #10A2EF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #10A2EF;
  border-radius: 8px 8px 8px 8px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 span {
  color: #10A2EF;
  text-align: center;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_2 marker {
  fill: #404040;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_2 {
  position: absolute;
  width: 375.00085333236234px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(0.15278838320384983deg);
  -moz-transform: rotate(0.15278838320384983deg);
  transform: rotate(0.15278838320384983deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_2 {
  width: 375.00085333236234px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #404040;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_2 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 span {
  color: #2C2828;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #2C2828;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 {
  position: absolute;
  width: 372.99999999999943px;
  min-height: 229.6901408450708px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #2C2828;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 > .borderLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 > .backgroundLayer {
  border-radius: 35px 35px 35px 35px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_3 {
  position: absolute;
  width: 21.99999999999997px;
  height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_3 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_4 {
  position: absolute;
  width: 21.99999999999997px;
  height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_4 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_5 {
  position: absolute;
  width: 21.99999999999997px;
  height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_5 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 span {
  color: #10A2EF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 span {
  color: #10A2EF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 span {
  color: #10A2EF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 span {
  color: #10A2EF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #10A2EF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 {
  position: absolute;
  width: 131.5px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Eras Bold ITC',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #2C2828;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 15px 15px 15px 15px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 > .backgroundLayer {
  border-radius: 15px 15px 15px 15px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Eras Bold ITC',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Eras Bold ITC',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_1 {
  width: 354.5214843749998px;
  height: 184.11971830985885px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_1 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: auto;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_12 {
  position: absolute;
  width: 330.6417988989637px;
  height: 118.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_12 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_13 {
  position: absolute;
  width: 342.5816416369819px;
  height: 97.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_13 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_14 {
  position: absolute;
  width: 330.6417988989637px;
  height: 119.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_14 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_2 {
  position: absolute;
  width: 27.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_2 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_5 {
  width: 363.9999999999999px;
  height: 776.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_5 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_5 .verticalalign {
  vertical-align: top;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Dynamic_Panel_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 {
  width: 338.9999999999999px;
  height: 776.0000000000002px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 > .backgroundLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 > .backgroundLayer > .colorLayer {
  background-color: #2C2828;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 > .borderLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 > .backgroundLayer {
  border-radius: 0px 35px 35px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Panel_4 .verticalalign {
  vertical-align: top;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_41 {
  position: absolute;
  width: 239.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_41 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_3 marker {
  fill: #FFFFFF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_3 {
  position: absolute;
  width: 276.00553811698467px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_3 {
  width: 276.00553811698467px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #FFFFFF;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_3 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_42 {
  position: absolute;
  width: 91.99999999999989px;
  height: 91.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_42 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_43 {
  position: absolute;
  width: 220.0px;
  height: 27.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_43 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_44 {
  position: absolute;
  width: 211.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_44 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_47 {
  position: absolute;
  width: 151.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_47 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_48 {
  position: absolute;
  width: 170.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_48 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_4 marker {
  fill: #FFFFFF;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #shapewrapper-s-Line_4 {
  position: absolute;
  width: 276.00553811698467px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_4 {
  width: 276.00553811698467px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #FFFFFF;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Line_4 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_49 {
  position: absolute;
  width: 127.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_49 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_50 {
  position: absolute;
  width: 193.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_50 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_51 {
  position: absolute;
  width: 140.09433962264146px;
  height: 44.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_51 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_46 {
  position: absolute;
  width: 164.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_46 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_8 {
  position: absolute;
  width: 266.0px;
  height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Image_8 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 {
  position: absolute;
  width: 36.99999999999977px;
  min-height: 776.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  z-index: 100;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 {
  box-shadow: none;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.75);
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-948cc35e-8942-4ec5-a3b2-aefb2b2baf4b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
